*{
  margin:0;
padding:0;
}


body {
  margin: auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  max-width: 800px;
  
}

h1{
  display:block;
  text-align:center;
  padding: 5px;
  font-size:30px;
  color:rgba(255, 255, 255, 0.822);
}

h2{
  font-size:10px;
  margin:0px;
  text-decoration: underline;
  text-decoration-style: dashed;

}
button{
  outline: none;
}


.link, .logout-button{
  display: inline-block;
  font-size: 28px;
  text-decoration: none;
  color: grey;
  padding:4px;
  border: 2px solid grey;
  border-radius: 4px 4px 0px 0px;
  height: 30px;
  width:30px;
}

.table-button, .logout-button{
  float: right;
  float: right;
}

.logout-button{
  background-color: white;
  height: 42px;
  width:42px;
  margin-right: 5px;
}

.table:hover, .logout-button:hover, .link:hover{
  cursor: pointer;
  color:black
}


.activelink{
  background-color: rgba(128, 128, 128, 0.63);
  color: white;
  border: 2px solid grey;
  border-bottom: 2px solid rgba(247, 241, 224, 0.718);
}
.activelink:hover{
  color:white;
}
div{
  display: block;
  margin: 0 auto;
  font-size: 18px;
  color:rgb(110, 110, 110);
}

.navlinks{
  margin:5px 0px 0px 0px;
}


.home{
  background: radial-gradient(80% 40%, rgb(119, 61, 61), rgb(97, 37, 37));
  text-align: center;
  width:90%;
  height: 600px;
  color: white;
  margin-top:30px;
  border-left: double 30px rgb(90, 30, 30);
  border-radius: 2px 10px 10px 2px;
  font-size:20px;
  box-shadow: 0 0 20px #000000;
}

.login-form{
  padding:80px 0px 20px 0px;
}
.login-button{
  color: white;
  border: white solid 2px;
  background:none;
  padding:5px;
  margin-top:5px;
  font-size:18px;
  border-radius:2px;
  transition: background-color 0.3s;
}

.login-button:hover{
  color:white;
  background:rgba(211, 211, 211, 0.267);
}

.register-link{
  text-decoration: none;
  font-size: 18px;
  color: white;
  transition: text-decoration 0.5s;
}

.register-link:hover{
  text-decoration: underline;
  text-shadow: 0 0 10px#252525;
}

.landingpage, .dashboard,.mealplanner, .shoppinglist, .newrecipe{
  display: block;
  background: rgba(247, 241, 224, 0.719);
  border: 2px solid rgba(230, 221, 195, 0.719);
  border-radius: 0px 5px 5px 0px;
  min-height:600px;
  height: 100%;
  padding:5px 10px ;
  box-shadow: 0 0 20px #000000;
}

.landingpage-header{
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}


.list-items{
  padding-left:10px;
  padding-top:10px 
}
.delete-button, .edit-button, .save-button,.cancel-button, .check-button{
  display: inline-block;
  background: none;
  color: grey;
  font-size:24px;
  border:none;
  padding:3px;
  margin: 5px 10px 10px 10px;
}

.check-button, .cancel-button{
  margin:0 10px;
  padding:0;
font-size:22px;


}
.plan-box{
  max-height: 40px;
font-weight: normal;
display: block

}

.search-button  {
  display: inline-block;
  background: none;
  color: grey;
  font-size:17px;
  border:2px grey solid;
  border-radius: 3px;
  padding:4px 3px 2px 3px;
}


button:hover{
  color: black;
  text-decoration: none;
}
ul{
  display: block;
  list-style: none;
}
input, textarea, select{
  font-size:20px;
  margin-bottom: 5px
}
select{
  margin:10px;
}
.save-button{
  display: block;
  border:2px grey solid;
  border-radius: 3px;
  margin: 20px 0px 10px 10px;
}
.delete-button, .edit-button{
 float: right;
}


.form-input{
  margin:10px;
}
.search-inputs>.form-input, .add-inputs>.form-input{
  display:inline-block;
  margin:0px 5px 10px 5px;
}

.add-inputs{
  border-bottom:2px dashed grey;
  padding-bottom: 5px;
  margin: 5px 0px 10px 0px;
}

select{
  color:grey;
  background-color:white

}

.recipe-box{
  margin:10px 5px;
  padding-bottom: 10px;
  padding-top: 10px;  
  border-top: 2px grey dashed;
}
label{
  margin: 10px 0px 10px 10px;
  display: block;
  font-weight: bold;
}
.recipe-form>label{
  font-size:23px
}

.textarea{
  margin-left: 10px;
  padding:0px 10px 0px 2px;
  width:241px
}

ul{
  list-style-position: inside;
  margin:10px
}

.shoppinglist-ul{
  margin:0px 10px;
}
.shoppinglist-li{
  font-size:20px;
  color:grey;
  display: block;
  list-style-type: disc;

}
.shoppinglist-li-hidden{
  color: rgba(128, 128, 128, 0.63);
  font-size:20px;
}


h3{
  margin: 5px;
  font-size: 26px
}
h4{
  font-size:22px;
  font-weight: bold;
}
p{
  margin:10px
}

.mealplanner>ul{
  padding:20px 0 20px 0;
  margin:10px 5px 5px 5px;
  border-top: 2px dashed grey;
  font-weight: bold;
}


.recipecard-header{
  font-weight: bold;
}

::placeholder { 
  color: rgba(128, 128, 128, 0.63);
  opacity: 1; 
}

.table-of-contents{
  margin:10px 0px 5px 10px;
}

.table-of-contents>li{
  margin: 5px;
  font-size: 20px
}
.table-of-contents-notes{
  font-size:18px;
  margin-top:5px;
  margin-bottom: 15px;
}

.clear-list-button{
  display: block;
  background: none;
  color: grey;
  font-size:24px;
  border:none;
  margin:0 10px 0px 0;
  float:right
}
.check-button{
margin-bottom: 10px;

}